# Agenda

1. Creating a new data frame
    - Manually
    - From CSV and other files
2. Methods to run on a data frame
3. `.loc` and `.iloc`
4. `nan` and other values in data frames
5. Mask/boolean index

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
df = DataFrame([[10, 20, 30],
               [40, 50, 60],
               [70, 80, 90],
               [100, 110, 120]])
df

     0    1    2
0   10   20   30
1   40   50   60
2   70   80   90
3  100  110  120

In [4]:
df.dtypes

0    int64
1    int64
2    int64
dtype: object

In [5]:
df = DataFrame([[10, 20, 30],
               [40, 50.5, 60],
               [70, 80, 90],
               [100, 110, 120]])
df

     0      1    2
0   10   20.0   30
1   40   50.5   60
2   70   80.0   90
3  100  110.0  120

In [6]:
df.dtypes

0      int64
1    float64
2      int64
dtype: object

In [7]:
df = DataFrame([[10, 20, 30],
               [40, 50, 60],
               [70, 80, 90],
               [100, 110, 120]],
              index=list('abcd'),
              columns=list('xyz'))
df

     x    y    z
a   10   20   30
b   40   50   60
c   70   80   90
d  100  110  120

In [8]:
df.loc['a']

x    10
y    20
z    30
Name: a, dtype: int64

In [9]:
df.iloc[2]

x    70
y    80
z    90
Name: c, dtype: int64

In [10]:
df.loc[['a', 'c']]

    x   y   z
a  10  20  30
c  70  80  90

In [11]:
df.loc['a':'c']

    x   y   z
a  10  20  30
b  40  50  60
c  70  80  90

In [12]:
# for columns, just use []

df['x']

a     10
b     40
c     70
d    100
Name: x, dtype: int64

In [13]:
df.x

a     10
b     40
c     70
d    100
Name: x, dtype: int64