# Agenda

1. Indexing and multi-indexes
2. Sorting
3. Grouping
4. Pivot tables

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('taxi.csv')

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [4]:
df.shape

(9999, 19)

In [6]:
# I want all rows with passenger_count > 1

(
    df
    .loc[df['passenger_count'] == 1]
)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,1,2015-06-01 00:13:47,2015-06-01 00:33:03,1,4.10,-73.988991,40.721436,1,N,-73.995750,40.764694,3,17.0,0.5,0.5,0.00,0.0,0.3,18.30
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [10]:

(
    df
    .set_index('passenger_count')
    .loc[1]
)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,,
1,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
1,2,2015-06-02 11:19:31,2015-06-02 11:30:30,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
1,2,2015-06-02 11:19:31,2015-06-02 11:39:02,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
1,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,1,2015-06-01 00:13:47,2015-06-01 00:33:03,4.10,-73.988991,40.721436,1,N,-73.995750,40.764694,3,17.0,0.5,0.5,0.00,0.0,0.3,18.30
1,1,2015-06-01 00:12:59,2015-06-01 00:24:18,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
1,1,2015-06-01 00:12:59,2015-06-01 00:28:16,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
1,2,2015-06-01 00:13:00,2015-06-01 00:37:25,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
1,1,2015-06-01 00:13:04,2015-06-01 00:36:33,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [11]:

(
    df
    .set_index('passenger_count')
    .loc[[2, 3]]
)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,,
2,1,2015-06-02 11:19:41,2015-06-02 11:23:56,0.50,-73.954803,40.765667,1,N,-73.962517,40.768044,1,4.5,0.0,0.5,1.30,0.0,0.3,6.60
2,1,2015-06-02 11:19:42,2015-06-02 11:22:33,0.60,-73.971939,40.781902,1,N,-73.978149,40.777328,2,4.0,0.0,0.5,0.00,0.0,0.3,4.80
2,1,2015-06-02 11:19:55,2015-06-02 11:34:39,1.90,-73.990143,40.740814,1,N,-74.005508,40.723015,2,11.0,0.0,0.5,0.00,0.0,0.3,11.80
2,2,2015-06-02 11:20:02,2015-06-02 11:45:16,5.28,-73.976051,40.788242,1,N,-73.975777,40.740398,1,20.0,0.0,0.5,4.16,0.0,0.3,24.96
2,2,2015-06-02 11:20:05,2015-06-02 11:22:44,0.41,-73.979645,40.754501,1,N,-73.979645,40.754501,1,4.0,0.0,0.5,0.96,0.0,0.3,5.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,1,2015-06-01 00:12:50,2015-06-01 00:19:26,1.50,-73.988060,40.718651,1,N,-74.008041,40.711937,2,7.5,0.5,0.5,0.00,0.0,0.3,8.80
3,1,2015-06-01 00:13:10,2015-06-01 00:38:49,6.00,-73.983200,40.755806,1,N,-73.944283,40.824600,1,21.5,0.5,0.5,3.00,0.0,0.3,25.80
3,2,2015-06-01 00:13:42,2015-06-01 00:27:19,2.44,-74.012444,40.706097,1,N,-73.993248,40.727760,2,11.5,0.5,0.5,0.00,0.0,0.3,12.80
3,1,2015-06-01 00:13:31,2015-06-01 00:32:43,5.00,-73.988586,40.757069,1,N,-73.956375,40.805676,1,17.5,0.5,0.5,2.50,0.0,0.3,21.30
3,2,2015-06-01 00:13:31,2015-06-01 00:19:37,1.78,-74.000107,40.743126,1,N,-73.981003,40.728973,1,7.0,0.5,0.5,1.66,0.0,0.3,9.96

In [13]:
# I want all rows with 2, 3, or 4 passengers

(
    df
    .set_index('passenger_count')
    .loc[[2,3,4]]    # fancy indexing
)

KeyError: 'Cannot get left slice bound for non-unique label: 2'

In [17]:
(
    df
    .set_index('passenger_count')
    .sort_index()
    .loc[2:4]
    ['trip_distance']   # select the trip_distance column
    .mean()
)

np.float64(3.3988269331930563)

In [18]:
(
    df
    .set_index('passenger_count')
    .sort_index()
    .loc[
        2:4,    # row selector 
        'trip_distance'  # column selector
        ]
    .mean()
)

np.float64(3.3988269331930563)

In [20]:
(
    df
    .set_index('passenger_count')
    .sort_index()
    .loc[2:4]
    .reset_index()
    [['trip_distance', 'passenger_count']]
   .mean()
)

trip_distance      3.398827
passenger_count    2.405050
dtype: float64

In [21]:
df = df.set_index('tpep_pickup_datetime').sort_index()

In [22]:
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:00,1,2015-06-01 00:06:12,1,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,1,0.90,-73.984428,40.737209,1,N,-73.979935,40.749088,1,11.5,1.0,0.5,2.00,0.00,0.3,15.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,2,1.40,-73.987160,40.738972,1,N,-73.976288,40.755573,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30
2015-06-01 00:00:01,2,2015-06-01 00:11:29,1,7.41,-73.874634,40.774082,1,N,-73.944809,40.779282,1,21.0,0.5,0.5,5.57,5.54,0.3,33.41
2015-06-01 00:00:01,2,2015-06-01 00:24:48,1,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,1,26.5,0.5,0.5,2.50,0.00,0.3,30.30

In [23]:
df.index

Index(['2015-06-01 00:00:00', '2015-06-01 00:00:00', '2015-06-01 00:00:00',
       '2015-06-01 00:00:01', '2015-06-01 00:00:01', '2015-06-01 00:00:01',
       '2015-06-01 00:00:02', '2015-06-01 00:00:02', '2015-06-01 00:00:02',
       '2015-06-01 00:00:03',
       ...
       '2015-06-06 16:53:55', '2015-06-06 16:53:56', '2015-06-06 16:53:56',
       '2015-06-06 16:53:56', '2015-06-06 16:53:56', '2015-06-06 16:53:56',
       '2015-06-06 16:53:56', '2015-06-06 16:53:56', '2015-06-06 16:53:56',
       '2015-06-06 16:53:57'],
      dtype='object', name='tpep_pickup_datetime', length=9999)

In [24]:
df.reset_index().index

RangeIndex(start=0, stop=9999, step=1)

In [26]:
df.index.has_duplicates

True

In [27]:
df = df.reset_index()

In [28]:
df

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-01 00:00:00,1,2015-06-01 00:06:12,1,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
1,2015-06-01 00:00:00,2,2015-06-01 00:00:00,1,0.90,-73.984428,40.737209,1,N,-73.979935,40.749088,1,11.5,1.0,0.5,2.00,0.00,0.3,15.30
2,2015-06-01 00:00:00,2,2015-06-01 00:00:00,2,1.40,-73.987160,40.738972,1,N,-73.976288,40.755573,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30
3,2015-06-01 00:00:01,2,2015-06-01 00:11:29,1,7.41,-73.874634,40.774082,1,N,-73.944809,40.779282,1,21.0,0.5,0.5,5.57,5.54,0.3,33.41
4,2015-06-01 00:00:01,2,2015-06-01 00:24:48,1,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,1,26.5,0.5,0.5,2.50,0.00,0.3,30.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2015-06-06 16:53:56,1,2015-06-06 17:00:40,1,1.20,-73.992592,40.730629,1,N,-73.998161,40.717072,1,6.5,0.0,0.5,2.19,0.00,0.3,9.49
9995,2015-06-06 16:53:56,2,2015-06-06 16:56:18,1,0.58,-73.949013,40.788616,1,N,-73.952942,40.781727,1,4.0,0.0,0.5,0.95,0.00,0.3,5.75
9996,2015-06-06 16:53:56,2,2015-06-06 17:54:22,1,17.36,-73.790520,40.646461,2,N,-73.969048,40.763062,1,52.0,0.0,0.5,10.66,5.54,0.3,69.00
9997,2015-06-06 16:53:56,2,2015-06-06 16:55:51,1,0.76,-73.977509,40.784252,1,N,-73.970848,40.793365,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
9998,2015-06-06 16:53:57,1,2015-06-06 16:58:39,1,0.50,-73.968719,40.764427,1,N,-73.965042,40.759476,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80

In [30]:
(
    df
    .set_index(['passenger_count', 'payment_type'])
)

                             tpep_pickup_datetime  VendorID  \
passenger_count payment_type
1               2             2015-06-01 00:00:00         1
                1             2015-06-01 00:00:00         2
2               2             2015-06-01 00:00:00         2
1               1             2015-06-01 00:00:01         2
                1             2015-06-01 00:00:01         2
...                                           ...       ...
                1             2015-06-06 16:53:56         1
                1             2015-06-06 16:53:56         2
                1             2015-06-06 16:53:56         2
                2             2015-06-06 16:53:56         2
                2             2015-06-06 16:53:57         1

                             tpep_dropoff_datetime  trip_distance  \
passenger_count payment_type
1               2              2015-06-01 00:06:12           1.00
                1              2015-06-01 00:00:00           0.90
2               2              2015-06-01 00:00:00           1.40
1               1              2015-06-01 00:11:29           7.41
                1              2015-06-01 00:24:48           8.15
...                                            ...            ...
                1              2015-06-06 17:00:40           1.20
                1              2015-06-06 16:56:18           0.58
                1              2015-06-06 17:54:22          17.36
                2              2015-06-06 16:55:51           0.76
                2              2015-06-06 16:58:39           0.50

                              pickup_longitude  pickup_latitude  RateCodeID  \
passenger_count payment_type
1               2                   -73.988739        40.756832           1
                1                   -73.984428        40.737209           1
2               2                   -73.987160        40.738972           1
1               1                   -73.874634        40.774082           1
                1                   -74.006844        40.730572           1
...                                        ...              ...         ...
                1                   -73.992592        40.730629           1
                1                   -73.949013        40.788616           1
                1                   -73.790520        40.646461           2
                2                   -73.977509        40.784252           1
                2                   -73.968719        40.764427           1

                             store_and_fwd_flag  dropoff_longitude  \
passenger_count payment_type
1               2                             N         -73.974701
                1                             N         -73.979935
2               2                             N         -73.976288
1               1                             N         -73.944809
                1                             N         -73.946342
...                                         ...                ...
                1                             N         -73.998161
                1                             N         -73.952942
                1                             N         -73.969048
                2                             N         -73.970848
                2                             N         -73.965042

                              dropoff_latitude  fare_amount  extra  mta_tax  \
passenger_count payment_type
1               2                    40.757038          6.0    0.5      0.5
                1                    40.749088         11.5    1.0      0.5
2               2                    40.755573         11.5    0.0      0.5
1               1                    40.779282         21.0    0.5      0.5
                1                    40.811508         26.5    0.5      0.5
...                                        ...          ...    ...      ...
                1                    40.717072          6.5    0.0      0.5
                1                    40.781727          4.0    0.0      0.5
                1                    40.763062         52.0    0.0      0.5
                2                    40.793365          4.0    0.0      0.5
                2                    40.759476          5.0    0.0      0.5

                              tip_amount  tolls_amount  improvement_surcharge  \
passenger_count payment_type
1               2                   0.00          0.00                    0.3
                1                   2.00          0.00                    0.3
2               2                   0.00          0.00                    0.3
1               1                   5.57          5.54                    0.3
                1                   2.50          0.00                    0.3
...                                  ...           ...                    ...
                1                   2.19          0.00                    0.3
                1                   0.95          0.00                    0.3
                1                  10.66          5.54                    0.3
                2                   0.00          0.00                    0.3
                2                   0.00          0.00                    0.3

                              total_amount
passenger_count payment_type
1               2                     7.30
                1                    15.30
2               2                    12.30
1               1                    33.41
                1                    30.30
...                                    ...
                1                     9.49
                1                     5.75
                1                    69.00
                2                     4.80
                2                     5.80

[9999 rows x 17 columns]

In [31]:
(
    df
    .set_index(['passenger_count', 'payment_type'])
    .loc[1]  # passenger_count == 1
)

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
payment_type,,,,,,,,,,,,,,,,,
2,2015-06-01 00:00:00,1,2015-06-01 00:06:12,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,6.0,0.5,0.5,0.00,0.00,0.3,7.30
1,2015-06-01 00:00:00,2,2015-06-01 00:00:00,0.90,-73.984428,40.737209,1,N,-73.979935,40.749088,11.5,1.0,0.5,2.00,0.00,0.3,15.30
1,2015-06-01 00:00:01,2,2015-06-01 00:11:29,7.41,-73.874634,40.774082,1,N,-73.944809,40.779282,21.0,0.5,0.5,5.57,5.54,0.3,33.41
1,2015-06-01 00:00:01,2,2015-06-01 00:24:48,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,26.5,0.5,0.5,2.50,0.00,0.3,30.30
1,2015-06-01 00:00:02,2,2015-06-01 00:11:29,4.52,-73.983070,40.730591,1,N,-73.955582,40.784531,14.0,0.5,0.5,1.70,0.00,0.3,17.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2015-06-06 16:53:56,1,2015-06-06 17:00:40,1.20,-73.992592,40.730629,1,N,-73.998161,40.717072,6.5,0.0,0.5,2.19,0.00,0.3,9.49
1,2015-06-06 16:53:56,2,2015-06-06 16:56:18,0.58,-73.949013,40.788616,1,N,-73.952942,40.781727,4.0,0.0,0.5,0.95,0.00,0.3,5.75
1,2015-06-06 16:53:56,2,2015-06-06 17:54:22,17.36,-73.790520,40.646461,2,N,-73.969048,40.763062,52.0,0.0,0.5,10.66,5.54,0.3,69.00
2,2015-06-06 16:53:56,2,2015-06-06 16:55:51,0.76,-73.977509,40.784252,1,N,-73.970848,40.793365,4.0,0.0,0.5,0.00,0.00,0.3,4.80
2,2015-06-06 16:53:57,1,2015-06-06 16:58:39,0.50,-73.968719,40.764427,1,N,-73.965042,40.759476,5.0,0.0,0.5,0.00,0.00,0.3,5.80

In [44]:
(
    df
    .set_index(['passenger_count', 'payment_type'])
    .loc[1]   # passenger_count == 1
    .loc[2] # payment_type == 2
)

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
payment_type,,,,,,,,,,,,,,,,,
2,2015-06-01 00:00:00,1,2015-06-01 00:06:12,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,6.0,0.5,0.5,0.0,0.0,0.3,7.3
2,2015-06-01 00:00:02,2,2015-06-01 00:25:48,5.51,-73.987602,40.753948,1,N,-73.929169,40.770500,20.5,0.5,0.5,0.0,0.0,0.3,21.8
2,2015-06-01 00:00:03,1,2015-06-01 00:06:37,0.80,-73.995377,40.688141,1,N,-73.987328,40.696350,6.5,0.5,0.5,0.0,0.0,0.3,7.8
2,2015-06-01 00:00:05,2,2015-06-01 00:18:50,12.26,-73.789703,40.646961,1,N,-73.885536,40.759254,34.0,0.5,0.5,0.0,0.0,0.3,35.3
2,2015-06-01 00:00:05,1,2015-06-01 00:08:09,1.40,-73.991081,40.745708,1,N,-73.986580,40.761154,7.5,0.5,0.5,0.0,0.0,0.3,8.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,2015-06-06 16:53:53,1,2015-06-06 17:00:28,0.90,-73.986549,40.761555,1,N,-73.979500,40.772869,6.0,0.0,0.5,0.0,0.0,0.3,6.8
2,2015-06-06 16:53:54,1,2015-06-06 17:00:36,1.40,0.000000,0.000000,1,N,0.000000,0.000000,7.0,0.0,0.5,0.0,0.0,0.3,7.8
2,2015-06-06 16:53:56,2,2015-06-06 17:02:49,1.31,-73.949532,40.776760,1,N,-73.962936,40.770599,8.0,0.0,0.5,0.0,0.0,0.3,8.8
2,2015-06-06 16:53:56,2,2015-06-06 16:55:51,0.76,-73.977509,40.784252,1,N,-73.970848,40.793365,4.0,0.0,0.5,0.0,0.0,0.3,4.8
2,2015-06-06 16:53:57,1,2015-06-06 16:58:39,0.50,-73.968719,40.764427,1,N,-73.965042,40.759476,5.0,0.0,0.5,0.0,0.0,0.3,5.8

In [35]:
(
    df
    .set_index(['passenger_count', 'payment_type'])
    .sort_index()
    .loc[   (1, 2)   ]   # passenger_count == 1, payment_type == 2
)

                             tpep_pickup_datetime  VendorID  \
passenger_count payment_type
1               2             2015-06-01 00:00:00         1
                2             2015-06-01 00:00:02         2
                2             2015-06-01 00:00:03         1
                2             2015-06-01 00:00:05         2
                2             2015-06-01 00:00:05         1
...                                           ...       ...
                2             2015-06-06 16:53:53         1
                2             2015-06-06 16:53:54         1
                2             2015-06-06 16:53:56         2
                2             2015-06-06 16:53:56         2
                2             2015-06-06 16:53:57         1

                             tpep_dropoff_datetime  trip_distance  \
passenger_count payment_type
1               2              2015-06-01 00:06:12           1.00
                2              2015-06-01 00:25:48           5.51
                2              2015-06-01 00:06:37           0.80
                2              2015-06-01 00:18:50          12.26
                2              2015-06-01 00:08:09           1.40
...                                            ...            ...
                2              2015-06-06 17:00:28           0.90
                2              2015-06-06 17:00:36           1.40
                2              2015-06-06 17:02:49           1.31
                2              2015-06-06 16:55:51           0.76
                2              2015-06-06 16:58:39           0.50

                              pickup_longitude  pickup_latitude  RateCodeID  \
passenger_count payment_type
1               2                   -73.988739        40.756832           1
                2                   -73.987602        40.753948           1
                2                   -73.995377        40.688141           1
                2                   -73.789703        40.646961           1
                2                   -73.991081        40.745708           1
...                                        ...              ...         ...
                2                   -73.986549        40.761555           1
                2                     0.000000         0.000000           1
                2                   -73.949532        40.776760           1
                2                   -73.977509        40.784252           1
                2                   -73.968719        40.764427           1

                             store_and_fwd_flag  dropoff_longitude  \
passenger_count payment_type
1               2                             N         -73.974701
                2                             N         -73.929169
                2                             N         -73.987328
                2                             N         -73.885536
                2                             N         -73.986580
...                                         ...                ...
                2                             N         -73.979500
                2                             N           0.000000
                2                             N         -73.962936
                2                             N         -73.970848
                2                             N         -73.965042

                              dropoff_latitude  fare_amount  extra  mta_tax  \
passenger_count payment_type
1               2                    40.757038          6.0    0.5      0.5
                2                    40.770500         20.5    0.5      0.5
                2                    40.696350          6.5    0.5      0.5
                2                    40.759254         34.0    0.5      0.5
                2                    40.761154          7.5    0.5      0.5
...                                        ...          ...    ...      ...
                2                    40.772869          6.0    0.0      0.5
                2                     0.000000          7.0    0.0      0.5
                2                    40.770599          8.0    0.0      0.5
                2                    40.793365          4.0    0.0      0.5
                2                    40.759476          5.0    0.0      0.5

                              tip_amount  tolls_amount  improvement_surcharge  \
passenger_count payment_type
1               2                    0.0           0.0                    0.3
                2                    0.0           0.0                    0.3
                2                    0.0           0.0                    0.3
                2                    0.0           0.0                    0.3
                2                    0.0           0.0                    0.3
...                                  ...           ...                    ...
                2                    0.0           0.0                    0.3
                2                    0.0           0.0                    0.3
                2                    0.0           0.0                    0.3
                2                    0.0           0.0                    0.3
                2                    0.0           0.0                    0.3

                              total_amount
passenger_count payment_type
1               2                      7.3
                2                     21.8
                2                      7.8
                2                     35.3
                2                      8.8
...                                    ...
                2                      6.8
                2                      7.8
                2                      8.8
                2                      4.8
                2                      5.8

[2797 rows x 17 columns]

In [36]:
(
    df
    .set_index(['passenger_count', 'payment_type'])
    .index
)

MultiIndex([(1, 2),
            (1, 1),
            (2, 2),
            (1, 1),
            (1, 1),
            (3, 2),
            (1, 1),
            (1, 2),
            (1, 1),
            (2, 2),
            ...
            (2, 1),
            (1, 1),
            (1, 2),
            (6, 1),
            (1, 1),
            (1, 1),
            (1, 1),
            (1, 1),
            (1, 2),
            (1, 2)],
           names=['passenger_count', 'payment_type'], length=9999)

In [37]:
# I want to read from taxi.csv
# I want passenger_count to be the index

pd.read_csv('taxi.csv', index_col='passenger_count')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,,
1,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
1,2,2015-06-02 11:19:31,2015-06-02 11:30:30,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
1,2,2015-06-02 11:19:31,2015-06-02 11:39:02,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
1,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,1,2015-06-01 00:12:59,2015-06-01 00:24:18,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
1,1,2015-06-01 00:12:59,2015-06-01 00:28:16,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
1,2,2015-06-01 00:13:00,2015-06-01 00:37:25,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
6,2,2015-06-01 00:13:02,2015-06-01 00:19:10,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
1,1,2015-06-01 00:13:04,2015-06-01 00:36:33,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [38]:
pd.read_csv('taxi.csv', 
            index_col=['passenger_count', 'payment_type'])

                              VendorID tpep_pickup_datetime  \
passenger_count payment_type
1               2                    2  2015-06-02 11:19:29
                1                    2  2015-06-02 11:19:30
                1                    2  2015-06-02 11:19:31
                1                    2  2015-06-02 11:19:31
                2                    1  2015-06-02 11:19:32
...                                ...                  ...
                2                    1  2015-06-01 00:12:59
                1                    1  2015-06-01 00:12:59
                2                    2  2015-06-01 00:13:00
6               2                    2  2015-06-01 00:13:02
1               1                    1  2015-06-01 00:13:04

                             tpep_dropoff_datetime  trip_distance  \
passenger_count payment_type
1               2              2015-06-02 11:47:52           1.63
                1              2015-06-02 11:27:56           0.46
                1              2015-06-02 11:30:30           0.87
                1              2015-06-02 11:39:02           2.13
                2              2015-06-02 11:32:49           1.40
...                                            ...            ...
                2              2015-06-01 00:24:18           2.70
                1              2015-06-01 00:28:16           4.50
                2              2015-06-01 00:37:25           5.59
6               2              2015-06-01 00:19:10           1.54
1               1              2015-06-01 00:36:33           5.80

                              pickup_longitude  pickup_latitude  RateCodeID  \
passenger_count payment_type
1               2                   -73.954430        40.764141           1
                1                   -73.971443        40.758942           1
                1                   -73.978111        40.738434           1
                1                   -73.945892        40.773529           1
                2                   -73.979088        40.776772           1
...                                        ...              ...         ...
                2                   -73.947792        40.814972           1
                1                   -74.004066        40.747818           1
                2                   -73.994377        40.766102           1
6               2                   -73.978302        40.748531           1
1               1                   -73.983215        40.726414           1

                             store_and_fwd_flag  dropoff_longitude  \
passenger_count payment_type
1               2                             N         -73.974754
                1                             N         -73.978539
                1                             N         -73.990273
                1                             N         -73.971527
                2                             N         -73.982162
...                                         ...                ...
                2                             N         -73.973358
                1                             N         -73.953758
                2                             N         -73.903206
6               2                             N         -73.989166
1               1                             N         -73.924133

                              dropoff_latitude  fare_amount  extra  mta_tax  \
passenger_count payment_type
1               2                    40.754093         17.0    0.0      0.5
                1                    40.761909          6.5    0.0      0.5
                1                    40.745438          8.0    0.0      0.5
                1                    40.760330         13.5    0.0      0.5
                2                    40.758999          9.5    0.0      0.5
...                                        ...          ...    ...      ...
                2                    40.783638         11.0    0.5      0.5
                1                    40.779285         16.0    0.5      0.5
                2                    40.750546         21.0    0.5      0.5
6               2                    40.762852          6.5    0.5      0.5
1               1                    40.701645         21.0    0.5      0.5

                              tip_amount  tolls_amount  improvement_surcharge  \
passenger_count payment_type
1               2                   0.00           0.0                    0.3
                1                   1.00           0.0                    0.3
                1                   2.20           0.0                    0.3
                1                   2.86           0.0                    0.3
                2                   0.00           0.0                    0.3
...                                  ...           ...                    ...
                2                   0.00           0.0                    0.3
                1                   3.00           0.0                    0.3
                2                   0.00           0.0                    0.3
6               2                   0.00           0.0                    0.3
1               1                   4.45           0.0                    0.3

                              total_amount
passenger_count payment_type
1               2                    17.80
                1                     8.30
                1                    11.00
                1                    17.16
                2                    10.30
...                                    ...
                2                    12.30
                1                    20.30
                2                    22.30
6               2                     7.80
1               1                    26.75

[9999 rows x 17 columns]

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-01 00:00:00,1,2015-06-01 00:06:12,1,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
1,2015-06-01 00:00:00,2,2015-06-01 00:00:00,1,0.90,-73.984428,40.737209,1,N,-73.979935,40.749088,1,11.5,1.0,0.5,2.00,0.00,0.3,15.30
2,2015-06-01 00:00:00,2,2015-06-01 00:00:00,2,1.40,-73.987160,40.738972,1,N,-73.976288,40.755573,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30
3,2015-06-01 00:00:01,2,2015-06-01 00:11:29,1,7.41,-73.874634,40.774082,1,N,-73.944809,40.779282,1,21.0,0.5,0.5,5.57,5.54,0.3,33.41
4,2015-06-01 00:00:01,2,2015-06-01 00:24:48,1,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,1,26.5,0.5,0.5,2.50,0.00,0.3,30.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2015-06-06 16:53:56,1,2015-06-06 17:00:40,1,1.20,-73.992592,40.730629,1,N,-73.998161,40.717072,1,6.5,0.0,0.5,2.19,0.00,0.3,9.49
9995,2015-06-06 16:53:56,2,2015-06-06 16:56:18,1,0.58,-73.949013,40.788616,1,N,-73.952942,40.781727,1,4.0,0.0,0.5,0.95,0.00,0.3,5.75
9996,2015-06-06 16:53:56,2,2015-06-06 17:54:22,1,17.36,-73.790520,40.646461,2,N,-73.969048,40.763062,1,52.0,0.0,0.5,10.66,5.54,0.3,69.00
9997,2015-06-06 16:53:56,2,2015-06-06 16:55:51,1,0.76,-73.977509,40.784252,1,N,-73.970848,40.793365,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
9998,2015-06-06 16:53:57,1,2015-06-06 16:58:39,1,0.50,-73.968719,40.764427,1,N,-73.965042,40.759476,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80

In [41]:
# what if I only want payment_type == 2? passenger_count could be anything

(
    df
    .set_index(['passenger_count', 'payment_type'])
    .sort_index()
    .reset_index(level='passenger_count')
    .loc[2]
    .set_index('passenger_count')
)

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,
1,2015-06-01 00:00:00,1,2015-06-01 00:06:12,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,6.0,0.5,0.5,0.0,0.00,0.3,7.30
1,2015-06-01 00:00:02,2,2015-06-01 00:25:48,5.51,-73.987602,40.753948,1,N,-73.929169,40.770500,20.5,0.5,0.5,0.0,0.00,0.3,21.80
1,2015-06-01 00:00:03,1,2015-06-01 00:06:37,0.80,-73.995377,40.688141,1,N,-73.987328,40.696350,6.5,0.5,0.5,0.0,0.00,0.3,7.80
1,2015-06-01 00:00:05,2,2015-06-01 00:18:50,12.26,-73.789703,40.646961,1,N,-73.885536,40.759254,34.0,0.5,0.5,0.0,0.00,0.3,35.30
1,2015-06-01 00:00:05,1,2015-06-01 00:08:09,1.40,-73.991081,40.745708,1,N,-73.986580,40.761154,7.5,0.5,0.5,0.0,0.00,0.3,8.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2015-06-06 16:52:44,2,2015-06-06 16:57:39,0.66,-73.990921,40.724220,1,N,-74.002403,40.726501,5.5,0.0,0.5,0.0,0.00,0.3,6.30
6,2015-06-06 16:52:55,2,2015-06-06 17:40:48,17.92,-73.982224,40.762589,2,N,-73.782417,40.644222,52.0,0.0,0.5,0.0,5.54,0.3,58.34
6,2015-06-06 16:53:08,2,2015-06-06 17:15:31,1.98,-73.962318,40.779079,1,N,-73.983498,40.759899,15.0,0.0,0.5,0.0,0.00,0.3,15.80
6,2015-06-06 16:53:32,2,2015-06-06 17:19:03,4.36,-73.986778,40.766506,1,N,-73.985367,40.721851,18.5,0.0,0.5,0.0,0.00,0.3,19.30
6,2015-06-06 16:53:45,2,2015-06-06 17:00:57,1.62,-73.979309,40.740070,1,N,-73.997772,40.729256,7.5,0.0,0.5,0.0,0.00,0.3,8.30

In [42]:
# xs == "cross section"

(
    df
    .set_index(['passenger_count', 'payment_type'])
    .sort_index()
    .xs(2, level='payment_type')  # payment_type == 2
)

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,
1,2015-06-01 00:00:00,1,2015-06-01 00:06:12,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,6.0,0.5,0.5,0.0,0.00,0.3,7.30
1,2015-06-01 00:00:02,2,2015-06-01 00:25:48,5.51,-73.987602,40.753948,1,N,-73.929169,40.770500,20.5,0.5,0.5,0.0,0.00,0.3,21.80
1,2015-06-01 00:00:03,1,2015-06-01 00:06:37,0.80,-73.995377,40.688141,1,N,-73.987328,40.696350,6.5,0.5,0.5,0.0,0.00,0.3,7.80
1,2015-06-01 00:00:05,2,2015-06-01 00:18:50,12.26,-73.789703,40.646961,1,N,-73.885536,40.759254,34.0,0.5,0.5,0.0,0.00,0.3,35.30
1,2015-06-01 00:00:05,1,2015-06-01 00:08:09,1.40,-73.991081,40.745708,1,N,-73.986580,40.761154,7.5,0.5,0.5,0.0,0.00,0.3,8.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2015-06-06 16:52:44,2,2015-06-06 16:57:39,0.66,-73.990921,40.724220,1,N,-74.002403,40.726501,5.5,0.0,0.5,0.0,0.00,0.3,6.30
6,2015-06-06 16:52:55,2,2015-06-06 17:40:48,17.92,-73.982224,40.762589,2,N,-73.782417,40.644222,52.0,0.0,0.5,0.0,5.54,0.3,58.34
6,2015-06-06 16:53:08,2,2015-06-06 17:15:31,1.98,-73.962318,40.779079,1,N,-73.983498,40.759899,15.0,0.0,0.5,0.0,0.00,0.3,15.80
6,2015-06-06 16:53:32,2,2015-06-06 17:19:03,4.36,-73.986778,40.766506,1,N,-73.985367,40.721851,18.5,0.0,0.5,0.0,0.00,0.3,19.30
6,2015-06-06 16:53:45,2,2015-06-06 17:00:57,1.62,-73.979309,40.740070,1,N,-73.997772,40.729256,7.5,0.0,0.5,0.0,0.00,0.3,8.30

In [46]:

(
    df
    .set_index(['passenger_count', 'payment_type'])
    .sort_index()
    .loc[[2]]
)

                             tpep_pickup_datetime  VendorID  \
passenger_count payment_type
2               1             2015-06-01 00:00:05         1
                1             2015-06-01 00:00:06         2
                1             2015-06-01 00:00:08         1
                1             2015-06-01 00:00:08         1
                1             2015-06-01 00:00:14         2
...                                           ...       ...
                2             2015-06-06 16:53:52         1
                2             2015-06-06 16:53:53         2
                3             2015-06-01 00:11:44         1
                3             2015-06-04 15:17:31         1
                3             2015-06-04 15:21:51         1

                             tpep_dropoff_datetime  trip_distance  \
passenger_count payment_type
2               1              2015-06-01 00:04:00           0.70
                1              2015-06-01 00:08:11           1.36
                1              2015-06-01 00:06:19           0.80
                1              2015-06-01 00:21:18           4.80
                1              2015-06-01 00:14:07           3.92
...                                            ...            ...
                2              2015-06-06 17:05:34           1.80
                2              2015-06-06 17:03:19           1.35
                3              2015-06-01 00:32:42           9.90
                3              2015-06-04 15:51:58           3.60
                3              2015-06-04 16:32:30          21.60

                              pickup_longitude  pickup_latitude  RateCodeID  \
passenger_count payment_type
2               1                   -73.982330        40.727749           1
                1                   -73.990883        40.749352           1
                1                   -73.981140        40.733383           1
                1                   -73.993233        40.722195           1
                1                   -73.993752        40.751598           1
...                                        ...              ...         ...
                2                   -73.987572        40.760418           1
                2                   -73.980667        40.769920           1
                3                   -73.954170        40.764133           1
                3                   -74.008423        40.721191           1
                3                   -73.781769        40.644642           1

                             store_and_fwd_flag  dropoff_longitude  \
passenger_count payment_type
2               1                             N         -73.975952
                1                             N         -73.993469
                1                             N         -73.976685
                1                             N         -73.942261
                1                             N         -73.949043
...                                         ...                ...
                2                             N         -73.979500
                2                             N         -73.992867
                3                             N         -73.854759
                3                             N         -73.977829
                3                             N         -73.981270

                              dropoff_latitude  fare_amount  extra  mta_tax  \
passenger_count payment_type
2               1                    40.730495          5.0    0.5      0.5
                1                    40.762566          7.5    0.5      0.5
                1                    40.727135          6.5    0.5      0.5
                1                    40.748753         18.5    0.5      0.5
                1                    40.778450         14.0    0.5      0.5
...                                        ...          ...    ...      ...
                2                    40.784389          9.5    0.0      0.5
                2                    40.756767          8.0    0.0      0.5
                3                    40.841507         30.0    0.5      0.5
                3                    40.758747         22.0    0.0      0.5
                3                    40.763103         67.0    0.0      0.5

                              tip_amount  tolls_amount  improvement_surcharge  \
passenger_count payment_type
2               1                   1.57          0.00                    0.3
                1                   1.76          0.00                    0.3
                1                   1.55          0.00                    0.3
                1                   2.00          0.00                    0.3
                1                   2.00          0.00                    0.3
...                                  ...           ...                    ...
                2                   0.00          0.00                    0.3
                2                   0.00          0.00                    0.3
                3                   0.00          0.00                    0.3
                3                   0.00          0.00                    0.3
                3                   0.00          5.54                    0.3

                              total_amount
passenger_count payment_type
2               1                     7.87
                1                    10.56
                1                     9.35
                1                    21.80
                1                    17.30
...                                    ...
                2                    10.30
                2                     8.80
                3                    31.30
                3                    22.80
                3                    73.34

[1313 rows x 17 columns]

In [48]:
!ls *.csv

burrito_current.csv	   mydata.csv		       titanic3.csv
celebrity_deaths_2016.csv  olympic_athlete_events.csv
languages.csv		   taxi.csv

In [49]:
!head olympic_athlete_events.csv

"ID","Name","Sex","Age","Height","Weight","Team","NOC","Games","Year","Season","City","Sport","Event","Medal"
"1","A Dijiang","M",24,180,80,"China","CHN","1992 Summer",1992,"Summer","Barcelona","Basketball","Basketball Men's Basketball",NA
"2","A Lamusi","M",23,170,60,"China","CHN","2012 Summer",2012,"Summer","London","Judo","Judo Men's Extra-Lightweight",NA
"3","Gunnar Nielsen Aaby","M",24,NA,NA,"Denmark","DEN","1920 Summer",1920,"Summer","Antwerpen","Football","Football Men's Football",NA
"4","Edgar Lindenau Aabye","M",34,NA,NA,"Denmark/Sweden","DEN","1900 Summer",1900,"Summer","Paris","Tug-Of-War","Tug-Of-War Men's Tug-Of-War","Gold"
"5","Christine Jacoba Aaftink","F",21,185,82,"Netherlands","NED","1988 Winter",1988,"Winter","Calgary","Speed Skating","Speed Skating Women's 500 metres",NA
"5","Christine Jacoba Aaftink","F",21,185,82,"Netherlands","NED","1988 Winter",1988,"Winter","Calgary","Speed Skating","Speed Skating Women's 1,000 metres",NA
"5","Christine Jacoba Aaftink","F",25,185,82,"Netherlands","NED","1992 Winter",1992,"Winter","Albertville","Speed Skating","Speed Skating Women's 500 metres",NA
"5","Christine Jacoba Aaftink","F",25,185,82,"Netherlands","NED","1992 Winter",1992,"Winter","Albertville","Speed Skating","Speed Skating Women's 1,000 metres",NA
"5","Christine Jacoba Aaftink","F",27,185,82,"Netherlands","NED","1994 Winter",1994,"Winter","Lillehammer","Speed Skating","Speed Skating Women's 500 metres",NA

# Exercise: Olympic data

Get the files from https://files.lerner.co.il, the final link there, https://files.lerner.co.il/pandas-workout-data.zip

We'll use the olympic CSV file from there (or from this repo)

1. Create a data frame from this data. Use four columns in the index: `Year`, `Season`, `Sport`, `Event`.
2. Find the mean age for summer games.
3. Which team won the most medals in archery?
4. How tall was the tallest-ever tennis player?

In [50]:
df = pd.read_csv('olympic_athlete_events.csv',
                index_col=['Year', 'Season', 'Sport', 'Event'])
df

                                                                        ID  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                    1
2012 Summer Judo          Judo Men's Extra-Lightweight                   2
1920 Summer Football      Football Men's Football                        3
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                    4
1988 Winter Speed Skating Speed Skating Women's 500 metres               5
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                135569
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  135570
                          Ski Jumping Men's Large Hill, Team        135570
1998 Winter Bobsleigh     Bobsleigh Men's Four                      135571
2002 Winter Bobsleigh     Bobsleigh Men's Four                      135571

                                                                                        Name  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                              A Dijiang
2012 Summer Judo          Judo Men's Extra-Lightweight                              A Lamusi
1920 Summer Football      Football Men's Football                        Gunnar Nielsen Aaby
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                   Edgar Lindenau Aabye
1988 Winter Speed Skating Speed Skating Women's 500 metres          Christine Jacoba Aaftink
...                                                                                      ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                              Andrzej ya
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual                  Piotr ya
                          Ski Jumping Men's Large Hill, Team                        Piotr ya
1998 Winter Bobsleigh     Bobsleigh Men's Four                            Tomasz Ireneusz ya
2002 Winter Bobsleigh     Bobsleigh Men's Four                            Tomasz Ireneusz ya

                                                                   Sex   Age  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                M  24.0
2012 Summer Judo          Judo Men's Extra-Lightweight               M  23.0
1920 Summer Football      Football Men's Football                    M  24.0
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                M  34.0
1988 Winter Speed Skating Speed Skating Women's 500 metres           F  21.0
...                                                                 ..   ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 M  29.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   M  27.0
                          Ski Jumping Men's Large Hill, Team         M  27.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                       M  30.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                       M  34.0

                                                                    Height  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                180.0
2012 Summer Judo          Judo Men's Extra-Lightweight               170.0
1920 Summer Football      Football Men's Football                      NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                  NaN
1988 Winter Speed Skating Speed Skating Women's 500 metres           185.0
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 179.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   176.0
                          Ski Jumping Men's Large Hill, Team         176.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                       185.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                       185.0

                                                                    Weight  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                 80.0
2012 Summer Judo          Judo Men's Extra-Lightweight                60.0
1920 Summer Football      Football Men's Football                      NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                  NaN
1988 Winter Speed Skating Speed Skating Women's 500 metres            82.0
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                  89.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual    59.0
                          Ski Jumping Men's Large Hill, Team          59.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                        96.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                        96.0

                                                                              Team  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                        China
2012 Summer Judo          Judo Men's Extra-Lightweight                       China
1920 Summer Football      Football Men's Football                          Denmark
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               Denmark/Sweden
1988 Winter Speed Skating Speed Skating Women's 500 metres             Netherlands
...                                                                            ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                      Poland-1
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual          Poland
                          Ski Jumping Men's Large Hill, Team                Poland
1998 Winter Bobsleigh     Bobsleigh Men's Four                              Poland
2002 Winter Bobsleigh     Bobsleigh Men's Four                              Poland

                                                                    NOC  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball               CHN
2012 Summer Judo          Judo Men's Extra-Lightweight              CHN
1920 Summer Football      Football Men's Football                   DEN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               DEN
1988 Winter Speed Skating Speed Skating Women's 500 metres          NED
...                                                                 ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                POL
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  POL
                          Ski Jumping Men's Large Hill, Team        POL
1998 Winter Bobsleigh     Bobsleigh Men's Four                      POL
2002 Winter Bobsleigh     Bobsleigh Men's Four                      POL

                                                                          Games  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball               1992 Summer
2012 Summer Judo          Judo Men's Extra-Lightweight              2012 Summer
1920 Summer Football      Football Men's Football                   1920 Summer
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               1900 Summer
1988 Winter Speed Skating Speed Skating Women's 500 metres          1988 Winter
...                                                                         ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                1976 Winter
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  2014 Winter
                          Ski Jumping Men's Large Hill, Team        2014 Winter
1998 Winter Bobsleigh     Bobsleigh Men's Four                      1998 Winter
2002 Winter Bobsleigh     Bobsleigh Men's Four                      2002 Winter

                                                                              City  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                    Barcelona
2012 Summer Judo          Judo Men's Extra-Lightweight                      London
1920 Summer Football      Football Men's Football                        Antwerpen
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                        Paris
1988 Winter Speed Skating Speed Skating Women's 500 metres                 Calgary
...                                                                            ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                     Innsbruck
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual           Sochi
                          Ski Jumping Men's Large Hill, Team                 Sochi
1998 Winter Bobsleigh     Bobsleigh Men's Four                              Nagano
2002 Winter Bobsleigh     Bobsleigh Men's Four                      Salt Lake City

                                                                   Medal
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                NaN
2012 Summer Judo          Judo Men's Extra-Lightweight               NaN
1920 Summer Football      Football Men's Football                    NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               Gold
1988 Winter Speed Skating Speed Skating Women's 500 metres           NaN
...                                                                  ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 NaN
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   NaN
                          Ski Jumping Men's Large Hill, Team         NaN
1998 Winter Bobsleigh     Bobsleigh Men's Four                       NaN
2002 Winter Bobsleigh     Bobsleigh Men's Four                       NaN

[271116 rows x 11 columns]

In [56]:
# Find the mean age for summer games.

(
    df
    .xs('Summer', level='Season')
    ['Age']
    .mean()
)

np.float64(25.67405313948529)

In [66]:
# Which team won the most medals in archery?

(
    df
    .xs('Archery', level='Sport')   # keep only rows where 'Sport' in our multi-index is 'Archery'
    [['Team', 'Medal']]
    .dropna()    # remove any row with NaN anywhere
    ['Team']
    .value_counts()
)

Team
South Korea           69
Belgium               52
France                48
United States         41
China                 19
Italy                 15
Great Britain         13
Netherlands            9
Chinese Taipei         9
Ukraine                8
Cincinnati Archers     8
Soviet Union           7
Japan                  7
Germany                7
Finland                6
Australia              5
Boston Archers         4
Russia                 4
Unified Team           4
Poland                 4
Potomac Archers        4
Indonesia              3
Spain                  3
Mexico                 2
Sweden                 2
Name: count, dtype: int64

In [67]:
(
    df
    .xs('Archery', level='Sport')   # keep only where sport is archery
    .dropna(subset='Medal')         # only remove rows where Medal is NaN
    ['Team']                         # keep the 'Team' column
    .value_counts()                
)

Team
South Korea           69
Belgium               52
France                48
United States         41
China                 19
Italy                 15
Great Britain         13
Netherlands            9
Chinese Taipei         9
Ukraine                8
Cincinnati Archers     8
Soviet Union           7
Japan                  7
Germany                7
Finland                6
Australia              5
Boston Archers         4
Russia                 4
Unified Team           4
Poland                 4
Potomac Archers        4
Indonesia              3
Spain                  3
Mexico                 2
Sweden                 2
Name: count, dtype: int64

In [72]:
# How tall was the tallest-ever tennis player?

(
    df
    .xs('Tennis', level='Sport')  # keep only rows where Sport == 'Tennis'
    .set_index('Team')
    ['Height']                     # keep only 'Height' column
    .agg(['max', 'idxmax'])
)

max         208.0
idxmax    Croatia
Name: Height, dtype: object

# Sorting 

In python, we use `sorted` to sort. TimSort is used in Python, but not in Pandas!

- `sort_index`
- `sort_values`

In [76]:
df.sort_index()

                                                                     ID  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                12068
                      Athletics Men's 1,500 metres                35094
                      Athletics Men's 1,500 metres                35698
                      Athletics Men's 1,500 metres                38123
                      Athletics Men's 1,500 metres                41160
...                                                                 ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle  105962
                      Wrestling Women's Middleweight, Freestyle  113280
                      Wrestling Women's Middleweight, Freestyle  121749
                      Wrestling Women's Middleweight, Freestyle  132078
                      Wrestling Women's Middleweight, Freestyle  133536

                                                                                           Name  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                         Arthur Charles Blake
                      Athletics Men's 1,500 metres                               Angelos Fetsis
                      Athletics Men's 1,500 metres                   Edwin Harold "Teddy" Flack
                      Athletics Men's 1,500 metres                                   Carl Galle
                      Athletics Men's 1,500 metres                         Dimitrios P. Golemis
...                                                                                         ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle                 Marianna Sastin
                      Wrestling Women's Middleweight, Freestyle       Soronzonboldyn Battsetseg
                      Wrestling Women's Middleweight, Freestyle  Inna Vyacheslavovna Trazhukova
                      Wrestling Women's Middleweight, Freestyle                          Xu Rui
                      Wrestling Women's Middleweight, Freestyle            Taybe Mustafa Yusein

                                                                Sex   Age  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                M  24.0
                      Athletics Men's 1,500 metres                M   NaN
                      Athletics Men's 1,500 metres                M  22.0
                      Athletics Men's 1,500 metres                M  23.0
                      Athletics Men's 1,500 metres                M  21.0
...                                                              ..   ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle   F  33.0
                      Wrestling Women's Middleweight, Freestyle   F  26.0
                      Wrestling Women's Middleweight, Freestyle   F  25.0
                      Wrestling Women's Middleweight, Freestyle   F  21.0
                      Wrestling Women's Middleweight, Freestyle   F  25.0

                                                                 Height  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                154.0
                      Athletics Men's 1,500 metres                  NaN
...                                                                 ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle   161.0
                      Wrestling Women's Middleweight, Freestyle   170.0
                      Wrestling Women's Middleweight, Freestyle   170.0
                      Wrestling Women's Middleweight, Freestyle   170.0
                      Wrestling Women's Middleweight, Freestyle   163.0

                                                                 Weight  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                 45.0
                      Athletics Men's 1,500 metres                  NaN
...                                                                 ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle    65.0
                      Wrestling Women's Middleweight, Freestyle    67.0
                      Wrestling Women's Middleweight, Freestyle    63.0
                      Wrestling Women's Middleweight, Freestyle    63.0
                      Wrestling Women's Middleweight, Freestyle    63.0

                                                                          Team  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               United States
                      Athletics Men's 1,500 metres                      Greece
                      Athletics Men's 1,500 metres                   Australia
                      Athletics Men's 1,500 metres                     Germany
                      Athletics Men's 1,500 metres                      Greece
...                                                                        ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle        Hungary
                      Wrestling Women's Middleweight, Freestyle       Mongolia
                      Wrestling Women's Middleweight, Freestyle         Russia
                      Wrestling Women's Middleweight, Freestyle          China
                      Wrestling Women's Middleweight, Freestyle       Bulgaria

                                                                 NOC  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               USA
                      Athletics Men's 1,500 metres               GRE
                      Athletics Men's 1,500 metres               AUS
                      Athletics Men's 1,500 metres               GER
                      Athletics Men's 1,500 metres               GRE
...                                                              ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle  HUN
                      Wrestling Women's Middleweight, Freestyle  MGL
                      Wrestling Women's Middleweight, Freestyle  RUS
                      Wrestling Women's Middleweight, Freestyle  CHN
                      Wrestling Women's Middleweight, Freestyle  BUL

                                                                       Games  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               1896 Summer
                      Athletics Men's 1,500 metres               1896 Summer
                      Athletics Men's 1,500 metres               1896 Summer
                      Athletics Men's 1,500 metres               1896 Summer
                      Athletics Men's 1,500 metres               1896 Summer
...                                                                      ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle  2016 Summer
                      Wrestling Women's Middleweight, Freestyle  2016 Summer
                      Wrestling Women's Middleweight, Freestyle  2016 Summer
                      Wrestling Women's Middleweight, Freestyle  2016 Summer
                      Wrestling Women's Middleweight, Freestyle  2016 Summer

                                                                           City  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
                      Athletics Men's 1,500 metres                       Athina
...                                                                         ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro
                      Wrestling Women's Middleweight, Freestyle  Rio de Janeiro

                                                                  Medal
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres               Silver
                      Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                 Gold
                      Athletics Men's 1,500 metres                  NaN
                      Athletics Men's 1,500 metres                  NaN
...                                                                 ...
2016 Summer Wrestling Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN
                      Wrestling Women's Middleweight, Freestyle     NaN

[271116 rows x 11 columns]

In [78]:
df.sort_values('Height')

                                                                                         ID  \
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                      82769
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                      15150
                                 Gymnastics Women's Uneven Bars                       15150
                                 Gymnastics Women's Horse Vault                       15150
                                 Gymnastics Women's Floor Exercise                    15150
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              135539
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            135542
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  135542
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            135552
            Athletics            Athletics Men's Marathon                            135561

                                                                                                                Name  \
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                               Lyton Levison Mphande
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                                     Rosario Briones
                                 Gymnastics Women's Uneven Bars                                      Rosario Briones
                                 Gymnastics Women's Horse Vault                                      Rosario Briones
                                 Gymnastics Women's Floor Exercise                                   Rosario Briones
...                                                                                                              ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                        Marius Edmund Zwiller
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres                             Werner Zwingli
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay                   Werner Zwingli
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            Jan (Johann-) Zybert (Siebert-)
            Athletics            Athletics Men's Marathon                                              Frantiek Zyka

                                                                                    Sex  \
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                      M
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                      F
                                 Gymnastics Women's Uneven Bars                       F
                                 Gymnastics Women's Horse Vault                       F
                                 Gymnastics Women's Floor Exercise                    F
...                                                                                  ..
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke               M
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres             M
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay   M
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres             M
            Athletics            Athletics Men's Marathon                             M

                                                                                      Age  \
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                     25.0
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                     15.0
                                 Gymnastics Women's Uneven Bars                      15.0
                                 Gymnastics Women's Horse Vault                      15.0
                                 Gymnastics Women's Floor Exercise                   15.0
...                                                                                   ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              18.0
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            29.0
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  29.0
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            20.0
            Athletics            Athletics Men's Marathon                            26.0

                                                                                     Height  \
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                      127.0
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                      127.0
                                 Gymnastics Women's Uneven Bars                       127.0
                                 Gymnastics Women's Horse Vault                       127.0
                                 Gymnastics Women's Floor Exercise                    127.0
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

                                                                                     Weight  \
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                       62.0
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                       42.0
                                 Gymnastics Women's Uneven Bars                        42.0
                                 Gymnastics Women's Horse Vault                        42.0
                                 Gymnastics Women's Floor Exercise                     42.0
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

                                                                                               Team  \
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                             Malawi
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                             Mexico
                                 Gymnastics Women's Uneven Bars                              Mexico
                                 Gymnastics Women's Horse Vault                              Mexico
                                 Gymnastics Women's Floor Exercise                           Mexico
...                                                                                             ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                      France
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               Switzerland
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     Switzerland
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                    Poland
            Athletics            Athletics Men's Marathon                            Czechoslovakia

                                                                                     NOC  \
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                     MAW
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                     MEX
                                 Gymnastics Women's Uneven Bars                      MEX
                                 Gymnastics Women's Horse Vault                      MEX
                                 Gymnastics Women's Floor Exercise                   MEX
...                                                                                  ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              FRA
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            SUI
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  SUI
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            POL
            Athletics            Athletics Men's Marathon                            TCH

                                                                                           Games  \
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                     1988 Summer
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                     1968 Summer
                                 Gymnastics Women's Uneven Bars                      1968 Summer
                                 Gymnastics Women's Horse Vault                      1968 Summer
                                 Gymnastics Women's Floor Exercise                   1968 Summer
...                                                                                          ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              1924 Summer
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            1956 Winter
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  1956 Winter
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            1928 Summer
            Athletics            Athletics Men's Marathon                            1928 Summer

                                                                                                  City  \
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                                 Seoul
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                           Mexico City
                                 Gymnastics Women's Uneven Bars                            Mexico City
                                 Gymnastics Women's Horse Vault                            Mexico City
                                 Gymnastics Women's Floor Exercise                         Mexico City
...                                                                                                ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                          Paris
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            Cortina d'Ampezzo
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  Cortina d'Ampezzo
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                    Amsterdam
            Athletics            Athletics Men's Marathon                                    Amsterdam

                                                                                    Medal
Year Season Sport                Event
1988 Summer Boxing               Boxing Men's Light-Welterweight                      NaN
1968 Summer Gymnastics           Gymnastics Women's Balance Beam                      NaN
                                 Gymnastics Women's Uneven Bars                       NaN
                                 Gymnastics Women's Horse Vault                       NaN
                                 Gymnastics Women's Floor Exercise                    NaN
...                                                                                   ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke               NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres             NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay   NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres             NaN
            Athletics            Athletics Men's Marathon                             NaN

[271116 rows x 11 columns]

In [79]:
df.sort_values(['Height', 'Weight'])

                                                                                         ID  \
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around             15150
                                 Gymnastics Women's Team All-Around                   15150
                                 Gymnastics Women's Floor Exercise                    15150
                                 Gymnastics Women's Horse Vault                       15150
                                 Gymnastics Women's Uneven Bars                       15150
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              135539
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            135542
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  135542
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            135552
            Athletics            Athletics Men's Marathon                            135561

                                                                                                                Name  \
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around                            Rosario Briones
                                 Gymnastics Women's Team All-Around                                  Rosario Briones
                                 Gymnastics Women's Floor Exercise                                   Rosario Briones
                                 Gymnastics Women's Horse Vault                                      Rosario Briones
                                 Gymnastics Women's Uneven Bars                                      Rosario Briones
...                                                                                                              ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                        Marius Edmund Zwiller
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres                             Werner Zwingli
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay                   Werner Zwingli
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            Jan (Johann-) Zybert (Siebert-)
            Athletics            Athletics Men's Marathon                                              Frantiek Zyka

                                                                                    Sex  \
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around             F
                                 Gymnastics Women's Team All-Around                   F
                                 Gymnastics Women's Floor Exercise                    F
                                 Gymnastics Women's Horse Vault                       F
                                 Gymnastics Women's Uneven Bars                       F
...                                                                                  ..
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke               M
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres             M
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay   M
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres             M
            Athletics            Athletics Men's Marathon                             M

                                                                                      Age  \
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around            15.0
                                 Gymnastics Women's Team All-Around                  15.0
                                 Gymnastics Women's Floor Exercise                   15.0
                                 Gymnastics Women's Horse Vault                      15.0
                                 Gymnastics Women's Uneven Bars                      15.0
...                                                                                   ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              18.0
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            29.0
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  29.0
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            20.0
            Athletics            Athletics Men's Marathon                            26.0

                                                                                     Height  \
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around             127.0
                                 Gymnastics Women's Team All-Around                   127.0
                                 Gymnastics Women's Floor Exercise                    127.0
                                 Gymnastics Women's Horse Vault                       127.0
                                 Gymnastics Women's Uneven Bars                       127.0
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

                                                                                     Weight  \
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around              42.0
                                 Gymnastics Women's Team All-Around                    42.0
                                 Gymnastics Women's Floor Exercise                     42.0
                                 Gymnastics Women's Horse Vault                        42.0
                                 Gymnastics Women's Uneven Bars                        42.0
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

                                                                                               Team  \
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around                    Mexico
                                 Gymnastics Women's Team All-Around                          Mexico
                                 Gymnastics Women's Floor Exercise                           Mexico
                                 Gymnastics Women's Horse Vault                              Mexico
                                 Gymnastics Women's Uneven Bars                              Mexico
...                                                                                             ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                      France
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               Switzerland
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     Switzerland
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                    Poland
            Athletics            Athletics Men's Marathon                            Czechoslovakia

                                                                                     NOC  \
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around            MEX
                                 Gymnastics Women's Team All-Around                  MEX
                                 Gymnastics Women's Floor Exercise                   MEX
                                 Gymnastics Women's Horse Vault                      MEX
                                 Gymnastics Women's Uneven Bars                      MEX
...                                                                                  ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              FRA
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            SUI
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  SUI
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            POL
            Athletics            Athletics Men's Marathon                            TCH

                                                                                           Games  \
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around            1968 Summer
                                 Gymnastics Women's Team All-Around                  1968 Summer
                                 Gymnastics Women's Floor Exercise                   1968 Summer
                                 Gymnastics Women's Horse Vault                      1968 Summer
                                 Gymnastics Women's Uneven Bars                      1968 Summer
...                                                                                          ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              1924 Summer
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            1956 Winter
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  1956 Winter
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            1928 Summer
            Athletics            Athletics Men's Marathon                            1928 Summer

                                                                                                  City  \
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around                  Mexico City
                                 Gymnastics Women's Team All-Around                        Mexico City
                                 Gymnastics Women's Floor Exercise                         Mexico City
                                 Gymnastics Women's Horse Vault                            Mexico City
                                 Gymnastics Women's Uneven Bars                            Mexico City
...                                                                                                ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                          Paris
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            Cortina d'Ampezzo
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  Cortina d'Ampezzo
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                    Amsterdam
            Athletics            Athletics Men's Marathon                                    Amsterdam

                                                                                    Medal
Year Season Sport                Event
1968 Summer Gymnastics           Gymnastics Women's Individual All-Around             NaN
                                 Gymnastics Women's Team All-Around                   NaN
                                 Gymnastics Women's Floor Exercise                    NaN
                                 Gymnastics Women's Horse Vault                       NaN
                                 Gymnastics Women's Uneven Bars                       NaN
...                                                                                   ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke               NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres             NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay   NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres             NaN
            Athletics            Athletics Men's Marathon                             NaN

[271116 rows x 11 columns]

In [80]:
df.sort_values(['Height', 'Weight'], ascending=False)

                                                                                         ID  \
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                         132627
2004 Summer Basketball           Basketball Men's Basketball                         132627
2008 Summer Basketball           Basketball Men's Basketball                         132627
1988 Summer Basketball           Basketball Men's Basketball                         104059
1992 Summer Basketball           Basketball Men's Basketball                         104059
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              135539
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            135542
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  135542
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            135552
            Athletics            Athletics Men's Marathon                            135561

                                                                                                                Name  \
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                                                Yao Ming
2004 Summer Basketball           Basketball Men's Basketball                                                Yao Ming
2008 Summer Basketball           Basketball Men's Basketball                                                Yao Ming
1988 Summer Basketball           Basketball Men's Basketball                                   Arvydas Romas Sabonis
1992 Summer Basketball           Basketball Men's Basketball                                   Arvydas Romas Sabonis
...                                                                                                              ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                        Marius Edmund Zwiller
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres                             Werner Zwingli
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay                   Werner Zwingli
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            Jan (Johann-) Zybert (Siebert-)
            Athletics            Athletics Men's Marathon                                              Frantiek Zyka

                                                                                    Sex  \
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                          M
2004 Summer Basketball           Basketball Men's Basketball                          M
2008 Summer Basketball           Basketball Men's Basketball                          M
1988 Summer Basketball           Basketball Men's Basketball                          M
1992 Summer Basketball           Basketball Men's Basketball                          M
...                                                                                  ..
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke               M
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres             M
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay   M
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres             M
            Athletics            Athletics Men's Marathon                             M

                                                                                      Age  \
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                         20.0
2004 Summer Basketball           Basketball Men's Basketball                         23.0
2008 Summer Basketball           Basketball Men's Basketball                         27.0
1988 Summer Basketball           Basketball Men's Basketball                         23.0
1992 Summer Basketball           Basketball Men's Basketball                         27.0
...                                                                                   ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              18.0
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            29.0
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  29.0
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            20.0
            Athletics            Athletics Men's Marathon                            26.0

                                                                                     Height  \
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                          226.0
2004 Summer Basketball           Basketball Men's Basketball                          226.0
2008 Summer Basketball           Basketball Men's Basketball                          226.0
1988 Summer Basketball           Basketball Men's Basketball                          223.0
1992 Summer Basketball           Basketball Men's Basketball                          223.0
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

                                                                                     Weight  \
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                          141.0
2004 Summer Basketball           Basketball Men's Basketball                          141.0
2008 Summer Basketball           Basketball Men's Basketball                          141.0
1988 Summer Basketball           Basketball Men's Basketball                          122.0
1992 Summer Basketball           Basketball Men's Basketball                          122.0
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

                                                                                               Team  \
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                                  China
2004 Summer Basketball           Basketball Men's Basketball                                  China
2008 Summer Basketball           Basketball Men's Basketball                                  China
1988 Summer Basketball           Basketball Men's Basketball                           Soviet Union
1992 Summer Basketball           Basketball Men's Basketball                              Lithuania
...                                                                                             ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                      France
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               Switzerland
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     Switzerland
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                    Poland
            Athletics            Athletics Men's Marathon                            Czechoslovakia

                                                                                     NOC  \
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                         CHN
2004 Summer Basketball           Basketball Men's Basketball                         CHN
2008 Summer Basketball           Basketball Men's Basketball                         CHN
1988 Summer Basketball           Basketball Men's Basketball                         URS
1992 Summer Basketball           Basketball Men's Basketball                         LTU
...                                                                                  ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              FRA
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            SUI
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  SUI
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            POL
            Athletics            Athletics Men's Marathon                            TCH

                                                                                           Games  \
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                         2000 Summer
2004 Summer Basketball           Basketball Men's Basketball                         2004 Summer
2008 Summer Basketball           Basketball Men's Basketball                         2008 Summer
1988 Summer Basketball           Basketball Men's Basketball                         1988 Summer
1992 Summer Basketball           Basketball Men's Basketball                         1992 Summer
...                                                                                          ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              1924 Summer
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            1956 Winter
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  1956 Winter
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            1928 Summer
            Athletics            Athletics Men's Marathon                            1928 Summer

                                                                                                  City  \
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                                    Sydney
2004 Summer Basketball           Basketball Men's Basketball                                    Athina
2008 Summer Basketball           Basketball Men's Basketball                                   Beijing
1988 Summer Basketball           Basketball Men's Basketball                                     Seoul
1992 Summer Basketball           Basketball Men's Basketball                                 Barcelona
...                                                                                                ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                          Paris
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            Cortina d'Ampezzo
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  Cortina d'Ampezzo
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                    Amsterdam
            Athletics            Athletics Men's Marathon                                    Amsterdam

                                                                                      Medal
Year Season Sport                Event
2000 Summer Basketball           Basketball Men's Basketball                            NaN
2004 Summer Basketball           Basketball Men's Basketball                            NaN
2008 Summer Basketball           Basketball Men's Basketball                            NaN
1988 Summer Basketball           Basketball Men's Basketball                           Gold
1992 Summer Basketball           Basketball Men's Basketball                         Bronze
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

[271116 rows x 11 columns]

In [82]:
# I want sort ascending by Height, descending by Weight

df.sort_values(['Height', 'Weight'], 
               ascending=[True, False]).head(20)

                                                                        ID  \
Year Season Sport      Event
1988 Summer Boxing     Boxing Men's Light-Welterweight               82769
1968 Summer Gymnastics Gymnastics Women's Individual All-Around      15150
                       Gymnastics Women's Team All-Around            15150
                       Gymnastics Women's Floor Exercise             15150
                       Gymnastics Women's Horse Vault                15150
                       Gymnastics Women's Uneven Bars                15150
                       Gymnastics Women's Balance Beam               15150
1988 Summer Boxing     Boxing Men's Middleweight                     90772
                       Boxing Men's Welterweight                    110638
1972 Summer Boxing     Boxing Men's Flyweight                        80255
1980 Summer Swimming   Swimming Women's 100 metres Freestyle         35122
                       Swimming Women's 100 metres Butterfly         35122
1984 Summer Shooting   Shooting Men's Rapid-Fire Pistol, 25 metres    2003
                       Shooting Men's Air Rifle, 10 metres            2174
1972 Summer Rowing     Rowing Men's Coxed Fours                      22824
1984 Summer Gymnastics Gymnastics Women's Individual All-Around      74578
                       Gymnastics Women's Team All-Around            74578
                       Gymnastics Women's Floor Exercise             74578
                       Gymnastics Women's Horse Vault                74578
                       Gymnastics Women's Uneven Bars                74578

                                                                                              Name  \
Year Season Sport      Event
1988 Summer Boxing     Boxing Men's Light-Welterweight                       Lyton Levison Mphande
1968 Summer Gymnastics Gymnastics Women's Individual All-Around                    Rosario Briones
                       Gymnastics Women's Team All-Around                          Rosario Briones
                       Gymnastics Women's Floor Exercise                           Rosario Briones
                       Gymnastics Women's Horse Vault                              Rosario Briones
                       Gymnastics Women's Uneven Bars                              Rosario Briones
                       Gymnastics Women's Balance Beam                             Rosario Briones
1988 Summer Boxing     Boxing Men's Middleweight                                     Helman Palije
                       Boxing Men's Welterweight                                    Boston Simbeye
1972 Summer Boxing     Boxing Men's Flyweight                                     Salvador Miranda
1980 Summer Swimming   Swimming Women's 100 metres Freestyle                         Nadia Fezzani
                       Swimming Women's 100 metres Butterfly                         Nadia Fezzani
1984 Summer Shooting   Shooting Men's Rapid-Fire Pistol, 25 metres  Said Mubarak Marhoon Al-Khatry
                       Shooting Men's Air Rifle, 10 metres            Khamis Mohamed Saif Al-Subhi
1972 Summer Rowing     Rowing Men's Coxed Fours                                     Michael Conway
1984 Summer Gymnastics Gymnastics Women's Individual All-Around           Ana Olvido Manso Gallego
                       Gymnastics Women's Team All-Around                 Ana Olvido Manso Gallego
                       Gymnastics Women's Floor Exercise                  Ana Olvido Manso Gallego
                       Gymnastics Women's Horse Vault                     Ana Olvido Manso Gallego
                       Gymnastics Women's Uneven Bars                     Ana Olvido Manso Gallego

                                                                   Sex   Age  \
Year Season Sport      Event
1988 Summer Boxing     Boxing Men's Light-Welterweight               M  25.0
1968 Summer Gymnastics Gymnastics Women's Individual All-Around      F  15.0
                       Gymnastics Women's Team All-Around            F  15.0
                       Gymnastics Women's Floor Exercise             F  15.0
                       Gymnastics Women's Horse Vault                F  15.0
                       Gymnastics Women's Uneven Bars                F  15.0
                       Gymnastics Women's Balance Beam               F  15.0
1988 Summer Boxing     Boxing Men's Middleweight                     M  21.0
                       Boxing Men's Welterweight                     M  28.0
1972 Summer Boxing     Boxing Men's Flyweight                        M  22.0
1980 Summer Swimming   Swimming Women's 100 metres Freestyle         F   NaN
                       Swimming Women's 100 metres Butterfly         F   NaN
1984 Summer Shooting   Shooting Men's Rapid-Fire Pistol, 25 metres   M   NaN
                       Shooting Men's Air Rifle, 10 metres           M   NaN
1972 Summer Rowing     Rowing Men's Coxed Fours                      M  19.0
1984 Summer Gymnastics Gymnastics Women's Individual All-Around      F  18.0
                       Gymnastics Women's Team All-Around            F  18.0
                       Gymnastics Women's Floor Exercise             F  18.0
                       Gymnastics Women's Horse Vault                F  18.0
                       Gymnastics Women's Uneven Bars                F  18.0

                                                                    Height  \
Year Season Sport      Event
1988 Summer Boxing     Boxing Men's Light-Welterweight               127.0
1968 Summer Gymnastics Gymnastics Women's Individual All-Around      127.0
                       Gymnastics Women's Team All-Around            127.0
                       Gymnastics Women's Floor Exercise             127.0
                       Gymnastics Women's Horse Vault                127.0
                       Gymnastics Women's Uneven Bars                127.0
                       Gymnastics Women's Balance Beam               127.0
1988 Summer Boxing     Boxing Men's Middleweight                     128.0
                       Boxing Men's Welterweight                     130.0
1972 Summer Boxing     Boxing Men's Flyweight                        130.0
1980 Summer Swimming   Swimming Women's 100 metres Freestyle         131.0
                       Swimming Women's 100 metres Butterfly         131.0
1984 Summer Shooting   Shooting Men's Rapid-Fire Pistol, 25 metres   132.0
                       Shooting Men's Air Rifle, 10 metres           132.0
1972 Summer Rowing     Rowing Men's Coxed Fours                      132.0
1984 Summer Gymnastics Gymnastics Women's Individual All-Around      132.0
                       Gymnastics Women's Team All-Around            132.0
                       Gymnastics Women's Floor Exercise             132.0
                       Gymnastics Women's Horse Vault                132.0
                       Gymnastics Women's Uneven Bars                132.0

                                                                    Weight  \
Year Season Sport      Event
1988 Summer Boxing     Boxing Men's Light-Welterweight                62.0
1968 Summer Gymnastics Gymnastics Women's Individual All-Around       42.0
                       Gymnastics Women's Team All-Around             42.0
                       Gymnastics Women's Floor Exercise              42.0
                       Gymnastics Women's Horse Vault                 42.0
                       Gymnastics Women's Uneven Bars                 42.0
                       Gymnastics Women's Balance Beam                42.0
1988 Summer Boxing     Boxing Men's Middleweight                      74.0
                       Boxing Men's Welterweight                      67.0
1972 Summer Boxing     Boxing Men's Flyweight                         51.0
1980 Summer Swimming   Swimming Women's 100 metres Freestyle          41.0
                       Swimming Women's 100 metres Butterfly          41.0
1984 Summer Shooting   Shooting Men's Rapid-Fire Pistol, 25 metres    66.0
                       Shooting Men's Air Rifle, 10 metres            58.0
1972 Summer Rowing     Rowing Men's Coxed Fours                       48.0
1984 Summer Gymnastics Gymnastics Women's Individual All-Around       31.0
                       Gymnastics Women's Team All-Around             31.0
                       Gymnastics Women's Floor Exercise              31.0
                       Gymnastics Women's Horse Vault                 31.0
                       Gymnastics Women's Uneven Bars                 31.0

                                                                         Team  \
Year Season Sport      Event
1988 Summer Boxing     Boxing Men's Light-Welterweight                 Malawi
1968 Summer Gymnastics Gymnastics Women's Individual All-Around        Mexico
                       Gymnastics Women's Team All-Around              Mexico
                       Gymnastics Women's Floor Exercise               Mexico
                       Gymnastics Women's Horse Vault                  Mexico
                       Gymnastics Women's Uneven Bars                  Mexico
                       Gymnastics Women's Balance Beam                 Mexico
1988 Summer Boxing     Boxing Men's Middleweight                       Malawi
                       Boxing Men's Welterweight                       Malawi
1972 Summer Boxing     Boxing Men's Flyweight                       Nicaragua
1980 Summer Swimming   Swimming Women's 100 metres Freestyle            Libya
                       Swimming Women's 100 metres Butterfly            Libya
1984 Summer Shooting   Shooting Men's Rapid-Fire Pistol, 25 metres       Oman
                       Shooting Men's Air Rifle, 10 metres               Oman
1972 Summer Rowing     Rowing Men's Coxed Fours                        Canada
1984 Summer Gymnastics Gymnastics Women's Individual All-Around         Spain
                       Gymnastics Women's Team All-Around               Spain
                       Gymnastics Women's Floor Exercise                Spain
                       Gymnastics Women's Horse Vault                   Spain
                       Gymnastics Women's Uneven Bars                   Spain

                                                                    NOC  \
Year Season Sport      Event
1988 Summer Boxing     Boxing Men's Light-Welterweight              MAW
1968 Summer Gymnastics Gymnastics Women's Individual All-Around     MEX
                       Gymnastics Women's Team All-Around           MEX
                       Gymnastics Women's Floor Exercise            MEX
                       Gymnastics Women's Horse Vault               MEX
                       Gymnastics Women's Uneven Bars               MEX
                       Gymnastics Women's Balance Beam              MEX
1988 Summer Boxing     Boxing Men's Middleweight                    MAW
                       Boxing Men's Welterweight                    MAW
1972 Summer Boxing     Boxing Men's Flyweight                       NCA
1980 Summer Swimming   Swimming Women's 100 metres Freestyle        LBA
                       Swimming Women's 100 metres Butterfly        LBA
1984 Summer Shooting   Shooting Men's Rapid-Fire Pistol, 25 metres  OMA
                       Shooting Men's Air Rifle, 10 metres          OMA
1972 Summer Rowing     Rowing Men's Coxed Fours                     CAN
1984 Summer Gymnastics Gymnastics Women's Individual All-Around     ESP
                       Gymnastics Women's Team All-Around           ESP
                       Gymnastics Women's Floor Exercise            ESP
                       Gymnastics Women's Horse Vault               ESP
                       Gymnastics Women's Uneven Bars               ESP

                                                                          Games  \
Year Season Sport      Event
1988 Summer Boxing     Boxing Men's Light-Welterweight              1988 Summer
1968 Summer Gymnastics Gymnastics Women's Individual All-Around     1968 Summer
                       Gymnastics Women's Team All-Around           1968 Summer
                       Gymnastics Women's Floor Exercise            1968 Summer
                       Gymnastics Women's Horse Vault               1968 Summer
                       Gymnastics Women's Uneven Bars               1968 Summer
                       Gymnastics Women's Balance Beam              1968 Summer
1988 Summer Boxing     Boxing Men's Middleweight                    1988 Summer
                       Boxing Men's Welterweight                    1988 Summer
1972 Summer Boxing     Boxing Men's Flyweight                       1972 Summer
1980 Summer Swimming   Swimming Women's 100 metres Freestyle        1980 Summer
                       Swimming Women's 100 metres Butterfly        1980 Summer
1984 Summer Shooting   Shooting Men's Rapid-Fire Pistol, 25 metres  1984 Summer
                       Shooting Men's Air Rifle, 10 metres          1984 Summer
1972 Summer Rowing     Rowing Men's Coxed Fours                     1972 Summer
1984 Summer Gymnastics Gymnastics Women's Individual All-Around     1984 Summer
                       Gymnastics Women's Team All-Around           1984 Summer
                       Gymnastics Women's Floor Exercise            1984 Summer
                       Gymnastics Women's Horse Vault               1984 Summer
                       Gymnastics Women's Uneven Bars               1984 Summer

                                                                           City  \
Year Season Sport      Event
1988 Summer Boxing     Boxing Men's Light-Welterweight                    Seoul
1968 Summer Gymnastics Gymnastics Women's Individual All-Around     Mexico City
                       Gymnastics Women's Team All-Around           Mexico City
                       Gymnastics Women's Floor Exercise            Mexico City
                       Gymnastics Women's Horse Vault               Mexico City
                       Gymnastics Women's Uneven Bars               Mexico City
                       Gymnastics Women's Balance Beam              Mexico City
1988 Summer Boxing     Boxing Men's Middleweight                          Seoul
                       Boxing Men's Welterweight                          Seoul
1972 Summer Boxing     Boxing Men's Flyweight                            Munich
1980 Summer Swimming   Swimming Women's 100 metres Freestyle             Moskva
                       Swimming Women's 100 metres Butterfly             Moskva
1984 Summer Shooting   Shooting Men's Rapid-Fire Pistol, 25 metres  Los Angeles
                       Shooting Men's Air Rifle, 10 metres          Los Angeles
1972 Summer Rowing     Rowing Men's Coxed Fours                          Munich
1984 Summer Gymnastics Gymnastics Women's Individual All-Around     Los Angeles
                       Gymnastics Women's Team All-Around           Los Angeles
                       Gymnastics Women's Floor Exercise            Los Angeles
                       Gymnastics Women's Horse Vault               Los Angeles
                       Gymnastics Women's Uneven Bars               Los Angeles

                                                                   Medal
Year Season Sport      Event
1988 Summer Boxing     Boxing Men's Light-Welterweight               NaN
1968 Summer Gymnastics Gymnastics Women's Individual All-Around      NaN
                       Gymnastics Women's Team All-Around            NaN
                       Gymnastics Women's Floor Exercise             NaN
                       Gymnastics Women's Horse Vault                NaN
                       Gymnastics Women's Uneven Bars                NaN
                       Gymnastics Women's Balance Beam               NaN
1988 Summer Boxing     Boxing Men's Middleweight                     NaN
                       Boxing Men's Welterweight                     NaN
1972 Summer Boxing     Boxing Men's Flyweight                        NaN
1980 Summer Swimming   Swimming Women's 100 metres Freestyle         NaN
                       Swimming Women's 100 metres Butterfly         NaN
1984 Summer Shooting   Shooting Men's Rapid-Fire Pistol, 25 metres   NaN
                       Shooting Men's Air Rifle, 10 metres           NaN
1972 Summer Rowing     Rowing Men's Coxed Fours                      NaN
1984 Summer Gymnastics Gymnastics Women's Individual All-Around      NaN
                       Gymnastics Women's Team All-Around            NaN
                       Gymnastics Women's Floor Exercise             NaN
                       Gymnastics Women's Horse Vault                NaN
                       Gymnastics Women's Uneven Bars                NaN

In [83]:
help(df.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(
    by: IndexLabel,
    *,
    axis: Axis = 0,
    ascending: bool | list[bool] | tuple[bool, ...] = True,
    inplace: bool = False,
    kind: SortKind = 'quicksort',
    na_position: str = 'last',
    ignore_index: bool = False,
    key: ValueKeyFunc | None = None
) -> DataFrame | None method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
    by : str or list of str
        Name or list of names to sort by.

        - if `axis` is 0 or `'index'` then `by` may contain index
          levels and/or column labels.
        - if `axis` is 1 or `'columns'` then `by` may contain column
          levels and/or index labels.
    axis : "{0 or 'index', 1 or 'columns'}", default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.
    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...     by="time",
    ...     key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

In [86]:
# I want sort ascending by Height, descending by Weight

df['height_weight'] = df['Height'] * df['Weight']
df.sort_values('height_weight')

                                                                                         ID  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                      21049
                                 Gymnastics Women's Uneven Bars                       21049
                                 Gymnastics Women's Horse Vault                       21049
                                 Gymnastics Women's Floor Exercise                    21049
                                 Gymnastics Women's Team All-Around                   21049
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              135539
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            135542
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  135542
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            135552
            Athletics            Athletics Men's Marathon                            135561

                                                                                                                Name  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                                      Choi Myong-Hui
                                 Gymnastics Women's Uneven Bars                                       Choi Myong-Hui
                                 Gymnastics Women's Horse Vault                                       Choi Myong-Hui
                                 Gymnastics Women's Floor Exercise                                    Choi Myong-Hui
                                 Gymnastics Women's Team All-Around                                   Choi Myong-Hui
...                                                                                                              ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                        Marius Edmund Zwiller
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres                             Werner Zwingli
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay                   Werner Zwingli
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            Jan (Johann-) Zybert (Siebert-)
            Athletics            Athletics Men's Marathon                                              Frantiek Zyka

                                                                                    Sex  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                      F
                                 Gymnastics Women's Uneven Bars                       F
                                 Gymnastics Women's Horse Vault                       F
                                 Gymnastics Women's Floor Exercise                    F
                                 Gymnastics Women's Team All-Around                   F
...                                                                                  ..
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke               M
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres             M
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay   M
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres             M
            Athletics            Athletics Men's Marathon                             M

                                                                                      Age  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                     14.0
                                 Gymnastics Women's Uneven Bars                      14.0
                                 Gymnastics Women's Horse Vault                      14.0
                                 Gymnastics Women's Floor Exercise                   14.0
                                 Gymnastics Women's Team All-Around                  14.0
...                                                                                   ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              18.0
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            29.0
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  29.0
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            20.0
            Athletics            Athletics Men's Marathon                            26.0

                                                                                     Height  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                      135.0
                                 Gymnastics Women's Uneven Bars                       135.0
                                 Gymnastics Women's Horse Vault                       135.0
                                 Gymnastics Women's Floor Exercise                    135.0
                                 Gymnastics Women's Team All-Around                   135.0
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

                                                                                     Weight  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                       25.0
                                 Gymnastics Women's Uneven Bars                        25.0
                                 Gymnastics Women's Horse Vault                        25.0
                                 Gymnastics Women's Floor Exercise                     25.0
                                 Gymnastics Women's Team All-Around                    25.0
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

                                                                                               Team  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                        North Korea
                                 Gymnastics Women's Uneven Bars                         North Korea
                                 Gymnastics Women's Horse Vault                         North Korea
                                 Gymnastics Women's Floor Exercise                      North Korea
                                 Gymnastics Women's Team All-Around                     North Korea
...                                                                                             ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                      France
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               Switzerland
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     Switzerland
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                    Poland
            Athletics            Athletics Men's Marathon                            Czechoslovakia

                                                                                     NOC  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                     PRK
                                 Gymnastics Women's Uneven Bars                      PRK
                                 Gymnastics Women's Horse Vault                      PRK
                                 Gymnastics Women's Floor Exercise                   PRK
                                 Gymnastics Women's Team All-Around                  PRK
...                                                                                  ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              FRA
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            SUI
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  SUI
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            POL
            Athletics            Athletics Men's Marathon                            TCH

                                                                                           Games  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                     1980 Summer
                                 Gymnastics Women's Uneven Bars                      1980 Summer
                                 Gymnastics Women's Horse Vault                      1980 Summer
                                 Gymnastics Women's Floor Exercise                   1980 Summer
                                 Gymnastics Women's Team All-Around                  1980 Summer
...                                                                                          ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              1924 Summer
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            1956 Winter
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  1956 Winter
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            1928 Summer
            Athletics            Athletics Men's Marathon                            1928 Summer

                                                                                                  City  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                                Moskva
                                 Gymnastics Women's Uneven Bars                                 Moskva
                                 Gymnastics Women's Horse Vault                                 Moskva
                                 Gymnastics Women's Floor Exercise                              Moskva
                                 Gymnastics Women's Team All-Around                             Moskva
...                                                                                                ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                          Paris
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            Cortina d'Ampezzo
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  Cortina d'Ampezzo
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                    Amsterdam
            Athletics            Athletics Men's Marathon                                    Amsterdam

                                                                                    Medal  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                      NaN
                                 Gymnastics Women's Uneven Bars                       NaN
                                 Gymnastics Women's Horse Vault                       NaN
                                 Gymnastics Women's Floor Exercise                    NaN
                                 Gymnastics Women's Team All-Around                   NaN
...                                                                                   ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke               NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres             NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay   NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres             NaN
            Athletics            Athletics Men's Marathon                             NaN

                                                                                     height_weight
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                            3375.0
                                 Gymnastics Women's Uneven Bars                             3375.0
                                 Gymnastics Women's Horse Vault                             3375.0
                                 Gymnastics Women's Floor Exercise                          3375.0
                                 Gymnastics Women's Team All-Around                         3375.0
...                                                                                            ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                        NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres                      NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay            NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                      NaN
            Athletics            Athletics Men's Marathon                                      NaN

[271116 rows x 12 columns]

In [87]:
df = df.drop(columns='height_weight')

In [89]:
(
    df
    .assign(height_weight = df['Height'] * df['Weight'])
    .sort_values('height_weight')
)

                                                                                         ID  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                      21049
                                 Gymnastics Women's Uneven Bars                       21049
                                 Gymnastics Women's Horse Vault                       21049
                                 Gymnastics Women's Floor Exercise                    21049
                                 Gymnastics Women's Team All-Around                   21049
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              135539
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            135542
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  135542
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            135552
            Athletics            Athletics Men's Marathon                            135561

                                                                                                                Name  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                                      Choi Myong-Hui
                                 Gymnastics Women's Uneven Bars                                       Choi Myong-Hui
                                 Gymnastics Women's Horse Vault                                       Choi Myong-Hui
                                 Gymnastics Women's Floor Exercise                                    Choi Myong-Hui
                                 Gymnastics Women's Team All-Around                                   Choi Myong-Hui
...                                                                                                              ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                        Marius Edmund Zwiller
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres                             Werner Zwingli
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay                   Werner Zwingli
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            Jan (Johann-) Zybert (Siebert-)
            Athletics            Athletics Men's Marathon                                              Frantiek Zyka

                                                                                    Sex  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                      F
                                 Gymnastics Women's Uneven Bars                       F
                                 Gymnastics Women's Horse Vault                       F
                                 Gymnastics Women's Floor Exercise                    F
                                 Gymnastics Women's Team All-Around                   F
...                                                                                  ..
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke               M
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres             M
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay   M
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres             M
            Athletics            Athletics Men's Marathon                             M

                                                                                      Age  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                     14.0
                                 Gymnastics Women's Uneven Bars                      14.0
                                 Gymnastics Women's Horse Vault                      14.0
                                 Gymnastics Women's Floor Exercise                   14.0
                                 Gymnastics Women's Team All-Around                  14.0
...                                                                                   ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              18.0
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            29.0
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  29.0
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            20.0
            Athletics            Athletics Men's Marathon                            26.0

                                                                                     Height  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                      135.0
                                 Gymnastics Women's Uneven Bars                       135.0
                                 Gymnastics Women's Horse Vault                       135.0
                                 Gymnastics Women's Floor Exercise                    135.0
                                 Gymnastics Women's Team All-Around                   135.0
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

                                                                                     Weight  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                       25.0
                                 Gymnastics Women's Uneven Bars                        25.0
                                 Gymnastics Women's Horse Vault                        25.0
                                 Gymnastics Women's Floor Exercise                     25.0
                                 Gymnastics Women's Team All-Around                    25.0
...                                                                                     ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                 NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres               NaN
            Athletics            Athletics Men's Marathon                               NaN

                                                                                               Team  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                        North Korea
                                 Gymnastics Women's Uneven Bars                         North Korea
                                 Gymnastics Women's Horse Vault                         North Korea
                                 Gymnastics Women's Floor Exercise                      North Korea
                                 Gymnastics Women's Team All-Around                     North Korea
...                                                                                             ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                      France
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres               Switzerland
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay     Switzerland
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                    Poland
            Athletics            Athletics Men's Marathon                            Czechoslovakia

                                                                                     NOC  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                     PRK
                                 Gymnastics Women's Uneven Bars                      PRK
                                 Gymnastics Women's Horse Vault                      PRK
                                 Gymnastics Women's Floor Exercise                   PRK
                                 Gymnastics Women's Team All-Around                  PRK
...                                                                                  ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              FRA
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            SUI
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  SUI
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            POL
            Athletics            Athletics Men's Marathon                            TCH

                                                                                           Games  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                     1980 Summer
                                 Gymnastics Women's Uneven Bars                      1980 Summer
                                 Gymnastics Women's Horse Vault                      1980 Summer
                                 Gymnastics Women's Floor Exercise                   1980 Summer
                                 Gymnastics Women's Team All-Around                  1980 Summer
...                                                                                          ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke              1924 Summer
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            1956 Winter
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  1956 Winter
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres            1928 Summer
            Athletics            Athletics Men's Marathon                            1928 Summer

                                                                                                  City  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                                Moskva
                                 Gymnastics Women's Uneven Bars                                 Moskva
                                 Gymnastics Women's Horse Vault                                 Moskva
                                 Gymnastics Women's Floor Exercise                              Moskva
                                 Gymnastics Women's Team All-Around                             Moskva
...                                                                                                ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                          Paris
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres            Cortina d'Ampezzo
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay  Cortina d'Ampezzo
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                    Amsterdam
            Athletics            Athletics Men's Marathon                                    Amsterdam

                                                                                    Medal  \
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                      NaN
                                 Gymnastics Women's Uneven Bars                       NaN
                                 Gymnastics Women's Horse Vault                       NaN
                                 Gymnastics Women's Floor Exercise                    NaN
                                 Gymnastics Women's Team All-Around                   NaN
...                                                                                   ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke               NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres             NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay   NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres             NaN
            Athletics            Athletics Men's Marathon                             NaN

                                                                                     height_weight
Year Season Sport                Event
1980 Summer Gymnastics           Gymnastics Women's Balance Beam                            3375.0
                                 Gymnastics Women's Uneven Bars                             3375.0
                                 Gymnastics Women's Horse Vault                             3375.0
                                 Gymnastics Women's Floor Exercise                          3375.0
                                 Gymnastics Women's Team All-Around                         3375.0
...                                                                                            ...
1924 Summer Swimming             Swimming Men's 200 metres Breaststroke                        NaN
1956 Winter Cross Country Skiing Cross Country Skiing Men's 15 kilometres                      NaN
                                 Cross Country Skiing Men's 4 x 10 kilometres Relay            NaN
1928 Summer Cycling              Cycling Men's Team Pursuit, 4,000 metres                      NaN
            Athletics            Athletics Men's Marathon                                      NaN

[271116 rows x 12 columns]

 # Next up

 1. Grouping
 2. Pivot tables
 3. Multi-index

In [90]:
def hello(name):
    return f'Hello, {name}!'

In [91]:
import dis

In [92]:
dis.dis(hello)

  1           RESUME                   0

  2           LOAD_CONST               0 ('Hello, ')
              LOAD_FAST_BORROW         0 (name)
              FORMAT_SIMPLE
              LOAD_CONST               1 ('!')
              BUILD_STRING             3
              RETURN_VALUE

In [93]:
hello.__code__.co_code

b'\x80\x00R\x00V\x00\x0c\x00R\x012\x03#\x00'

In [94]:
def add(first, second):
    total = first + second
    return total

In [95]:
# parameters: first second
# arguments:  10    20 

add(10, 20)

30

In [96]:
add('abcd', 'efgh')

'abcdefgh'

In [97]:
dis.dis(add)

  1           RESUME                   0

  2           LOAD_FAST_BORROW_LOAD_FAST_BORROW 1 (first, second)
              BINARY_OP                0 (+)
              STORE_FAST               2 (total)

  3           LOAD_FAST_BORROW         2 (total)
              RETURN_VALUE

In [98]:
int(5).__add__(10)

15

In [99]:
def myfunc(x):
    return x + y

In [100]:
dis.dis(myfunc)

  1           RESUME                   0

  2           LOAD_FAST_BORROW         0 (x)
              LOAD_GLOBAL              0 (y)
              BINARY_OP                0 (+)
              RETURN_VALUE

In [101]:
def hello(name:str):
    return f'Hello, {name}!'

In [102]:
hello('world')

'Hello, world!'

In [103]:
hello(5)

'Hello, 5!'

# Grouping

In [104]:
df = pd.read_csv('taxi.csv')

In [ ]:
# mean trip distance with passenger_count == 1

(
    df
    .lo
)