# Agenda

1. Indexing and multi-indexes
2. Sorting
3. Grouping
4. Pivot tables

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('taxi.csv')

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [4]:
df.shape

(9999, 19)

In [6]:
# I want all rows with passenger_count > 1

(
    df
    .loc[df['passenger_count'] == 1]
)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,1,2015-06-01 00:13:47,2015-06-01 00:33:03,1,4.10,-73.988991,40.721436,1,N,-73.995750,40.764694,3,17.0,0.5,0.5,0.00,0.0,0.3,18.30
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [10]:

(
    df
    .set_index('passenger_count')
    .loc[1]
)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,,
1,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
1,2,2015-06-02 11:19:31,2015-06-02 11:30:30,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
1,2,2015-06-02 11:19:31,2015-06-02 11:39:02,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
1,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,1,2015-06-01 00:13:47,2015-06-01 00:33:03,4.10,-73.988991,40.721436,1,N,-73.995750,40.764694,3,17.0,0.5,0.5,0.00,0.0,0.3,18.30
1,1,2015-06-01 00:12:59,2015-06-01 00:24:18,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
1,1,2015-06-01 00:12:59,2015-06-01 00:28:16,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
1,2,2015-06-01 00:13:00,2015-06-01 00:37:25,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
1,1,2015-06-01 00:13:04,2015-06-01 00:36:33,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [11]:

(
    df
    .set_index('passenger_count')
    .loc[[2, 3]]
)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,,
2,1,2015-06-02 11:19:41,2015-06-02 11:23:56,0.50,-73.954803,40.765667,1,N,-73.962517,40.768044,1,4.5,0.0,0.5,1.30,0.0,0.3,6.60
2,1,2015-06-02 11:19:42,2015-06-02 11:22:33,0.60,-73.971939,40.781902,1,N,-73.978149,40.777328,2,4.0,0.0,0.5,0.00,0.0,0.3,4.80
2,1,2015-06-02 11:19:55,2015-06-02 11:34:39,1.90,-73.990143,40.740814,1,N,-74.005508,40.723015,2,11.0,0.0,0.5,0.00,0.0,0.3,11.80
2,2,2015-06-02 11:20:02,2015-06-02 11:45:16,5.28,-73.976051,40.788242,1,N,-73.975777,40.740398,1,20.0,0.0,0.5,4.16,0.0,0.3,24.96
2,2,2015-06-02 11:20:05,2015-06-02 11:22:44,0.41,-73.979645,40.754501,1,N,-73.979645,40.754501,1,4.0,0.0,0.5,0.96,0.0,0.3,5.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,1,2015-06-01 00:12:50,2015-06-01 00:19:26,1.50,-73.988060,40.718651,1,N,-74.008041,40.711937,2,7.5,0.5,0.5,0.00,0.0,0.3,8.80
3,1,2015-06-01 00:13:10,2015-06-01 00:38:49,6.00,-73.983200,40.755806,1,N,-73.944283,40.824600,1,21.5,0.5,0.5,3.00,0.0,0.3,25.80
3,2,2015-06-01 00:13:42,2015-06-01 00:27:19,2.44,-74.012444,40.706097,1,N,-73.993248,40.727760,2,11.5,0.5,0.5,0.00,0.0,0.3,12.80
3,1,2015-06-01 00:13:31,2015-06-01 00:32:43,5.00,-73.988586,40.757069,1,N,-73.956375,40.805676,1,17.5,0.5,0.5,2.50,0.0,0.3,21.30
3,2,2015-06-01 00:13:31,2015-06-01 00:19:37,1.78,-74.000107,40.743126,1,N,-73.981003,40.728973,1,7.0,0.5,0.5,1.66,0.0,0.3,9.96

In [13]:
# I want all rows with 2, 3, or 4 passengers

(
    df
    .set_index('passenger_count')
    .loc[[2,3,4]]    # fancy indexing
)

KeyError: 'Cannot get left slice bound for non-unique label: 2'

In [17]:
(
    df
    .set_index('passenger_count')
    .sort_index()
    .loc[2:4]
    ['trip_distance']   # select the trip_distance column
    .mean()
)

np.float64(3.3988269331930563)

In [18]:
(
    df
    .set_index('passenger_count')
    .sort_index()
    .loc[
        2:4,    # row selector 
        'trip_distance'  # column selector
        ]
    .mean()
)

np.float64(3.3988269331930563)

In [20]:
(
    df
    .set_index('passenger_count')
    .sort_index()
    .loc[2:4]
    .reset_index()
    [['trip_distance', 'passenger_count']]
   .mean()
)

trip_distance      3.398827
passenger_count    2.405050
dtype: float64

In [21]:
df = df.set_index('tpep_pickup_datetime').sort_index()

In [22]:
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:00,1,2015-06-01 00:06:12,1,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,1,0.90,-73.984428,40.737209,1,N,-73.979935,40.749088,1,11.5,1.0,0.5,2.00,0.00,0.3,15.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,2,1.40,-73.987160,40.738972,1,N,-73.976288,40.755573,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30
2015-06-01 00:00:01,2,2015-06-01 00:11:29,1,7.41,-73.874634,40.774082,1,N,-73.944809,40.779282,1,21.0,0.5,0.5,5.57,5.54,0.3,33.41
2015-06-01 00:00:01,2,2015-06-01 00:24:48,1,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,1,26.5,0.5,0.5,2.50,0.00,0.3,30.30

In [23]:
df.index

Index(['2015-06-01 00:00:00', '2015-06-01 00:00:00', '2015-06-01 00:00:00',
       '2015-06-01 00:00:01', '2015-06-01 00:00:01', '2015-06-01 00:00:01',
       '2015-06-01 00:00:02', '2015-06-01 00:00:02', '2015-06-01 00:00:02',
       '2015-06-01 00:00:03',
       ...
       '2015-06-06 16:53:55', '2015-06-06 16:53:56', '2015-06-06 16:53:56',
       '2015-06-06 16:53:56', '2015-06-06 16:53:56', '2015-06-06 16:53:56',
       '2015-06-06 16:53:56', '2015-06-06 16:53:56', '2015-06-06 16:53:56',
       '2015-06-06 16:53:57'],
      dtype='object', name='tpep_pickup_datetime', length=9999)

In [24]:
df.reset_index().index

RangeIndex(start=0, stop=9999, step=1)